@model Fonoart.Web.Models.AtendimentoCadastroModel

<div class="col-md-12 partialAmbulatorial" hidden="hidden">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Atendimento Ambulatorial</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Código do Atendimento*</label>
                        <input type="text" class="form-control" id="codigoAtendimento" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label>Fonoaudióloga*</label>
                        <select class="form-control">
                            <option value="">Todas</option>
                            @foreach (var fono in Model.Fonoaudiologas)
                            {
                                <option value="@fono.Cpf">@fono.Nome</option>
                            }
                        </select> 
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Procedimento</label>
                        <select class="form-control">
                            <option value="">Todas</option>
                            @foreach (var situacao in Model.Situacoes.Where(sit => sit.Tipo == Fonoart.Util.Enum.TipoSituacao.Procedimento))
                            {
                                <option value="@situacao.Identificador">@situacao.Descricao</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Data Solicitação</label>
                        <input type="text" class="form-control" id="dataSolicitacaoAmb" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Vincular Atendimento</label>
                        <div class="input-group">
                            <input type="checkbox" class="icheck" id="checkVincularAtendimentoPai" name="iCheck" checked>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Código do Atendimento Pai</label>
                        <input type="text" class="form-control" id="codigoAtendimentoPai" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 