<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label>Código do Paciente*</label>
                <input type="text" class="form-control" id="codigoPaciente" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Nome do Paciente*</label>
                <input type="text" class="form-control" id="nomePaciente" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Telefone</label>
                <input type="text" class="form-control" id="telefone" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label>Convênio*</label>
                <input type="text" class="form-control" id="convenio" />
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Número da Carteirinha</label>
                <input type="text" class="form-control" id="numeroCarteirinha" />
            </div>
        </div>
    </div>
</div>

