<div class="container listagem">    
    <h1 class="page-header">Atendimento</h1>        
    <div class="row">
        <div class="form-group col-md-5"> 
            <label for="cliente">Cliente: </label>
            <input type="text" class="form-control" id="cliente" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Convenio: </label>
            <input type="text" class="form-control" id="cliente" />
        </div>
        <div class="form-group col-md-3">
            <label for="inputDescricao">Fonoaudiologa: </label>
            <select class="form-control">
                <option value="">Todas</option>
                <option value="">Ana Carolina</option>
                <option value="">Ana Paula</option>
                <option value="">Mikhaila</option>
                <option value="">Rafaella</option>                
            </select>
        </div>        
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="inputDescricao">Situação: </label>
            <select class="form-control">
                <option value="">Todas</option>
                <option value="">Ambulatorial</option>
                <option value="">Internação</option>                
            </select>
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Data Solicitação: </label>
            <input type="text" class="form-control" id="dataSolicitacao" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputDescricao">Alta Administrativa: </label>
            <input type="text" class="form-control" id="altaAdministrativa" />
        </div>        
    </div>
    <div class="row">
        <div class="col-md-3 pull-right">
            <p class="pull-right">
                <button type="button" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
                <a type="button" href="@Url.Action("CadastroAtendimento", "Atendimento")" class="btn btn-default">Novo Atendimento</a>
            </p>
        </div>                        
    </div>
    <table id="tabelaAtendimento" class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="30%">Paciente</th>
                <th width="15%">Convênio</th>
                <th width="15%">Fonoaudiologa</th>
                <th width="10%">Situação</th>
                <th width="12%">Solicitação</th>
                <th width="12%">Alta Administrativa</th>
                <th width="6%" class=""></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>José Maria da Silva</td>
                <td>Unimed</td>
                <td>Ana Paula</td>
                <td>Ambulatorial</td>
                <td>22/05/2016</td>
                <td>-</td>
                <td><button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></button></td>
            </tr>
            <tr>
                <td>Maria José da Silva</td>
                <td>Unimed</td>
                <td>Ana Paula</td>
                <td>Internação</td>
                <td>22/05/2016</td>
                <td>12/05/2016</td>
                <td><button type="button" class="btn btn-default"><i class="fa fa-pencil-square-o"></i></button></td>
            </tr>
        </tbody>      
    </table>
    <hr />    
</div>

@*@Html.Partial("_ModalProduto")*@



<script src="~/scripts/principal.js"></script>
<script src="~/scripts/atendimento.js"></script>