
<div class="modal fade" id="modalConfirmacao" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="tituloModalConfirmacao"></h4>
            </div>
            <div class="modal-body" id="corpoModal">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirmarModal">Confirmar</button>
                <button type="button" class="btn btn-danger" id="cancelaModal">Cancelar</button>
            </div>
        </div>
    </div>
</div>

