
<div class="container listagem" data-url-listar="@Url.Action("ListarFonos", "CadastroFonoaudiologas")">
    <h1 class="page-header">Fonoaudiólogas</h1>        
    <div class="row">
        <div class="col-md-3 pull-right">
            <p class="pull-right">
                <button type="button" class="btn btn-primary"><i class="fa fa-filter"></i> Filtrar</button>
                <a type="button" href="@Url.Action("Cadastro", "CadastroFonoaudiologa")" class="btn btn-default">Nova Fonoaudiologa</a>
            </p>
        </div>
    </div>
    <table id="tabelaFonos" class="table table-hover table-striped">
        <thead>
            <tr>
                <th width="20%">Codigo</th>
                <th width="26%">Nome</th>
                <th width="24%">Função</th>
                <th width="20%">Telefone</th>                
                <th width="6%" class=""></th>
            </tr>
        </thead>
        <tbody>            
        </tbody>
    </table>
    <hr />
</div>


<script src="~/scripts/fonoaudiologas.js"></script>

